<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{img/icon.png}" rel="icon">
    <title>Rate.It - Sign In</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link th:href="@{css/navbar-footer.css}" rel="stylesheet">
    <link th:href="@{/css/log-reg-con.css}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100 bg-black2">
<span th:replace="~{fragments::header('','','','','')}"></span>

<form class="form-signin" th:action="@{/password-reset}" method="post">
    <h1 class="mb-3 txt-logo text-center">Password reset</h1>
    <input type="hidden" name="id" th:value="${user.id}"><br>
    <label class="txt">New Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password"><br>
    <button class="btn btn-lg btn-primary btn-block txt-btn" type="submit">RESET PASSWORD</button>
</form>

<span th:replace="fragments :: footer"></span>
</body>
</html>
